#form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form__input input {
  outline: none;
}

.form__buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn {
  background-color: cadetblue;
  width: 100px;
  color: white;
  font-size: large;
  border: none;
}